.ideapom.xml
/.idea/.gitignore
/client/target/classes/guiWindows/AlertWindowsClass.class
/client/target/classes/fxml/auth.fxml
/client/target/classes/controllers/AuthController.class
/client/target/classes/guiWindows/AuthGui.class
/network/target/classes/messageDTO/requests/AuthOrRegMessageRequest.class
/network/target/classes/messageDTO/respons/AuthOrRegMessageResponse.class
/server/target/classes/dataBase/AuthService.class
/server/target/classes/ava/Avatar.class
/client/target/classes/guiElements/BubbleOutGoing.class
/client/target/classes/fxml/chatWork.fxml
/client/target/classes/client/Client$1.class
/client/target/classes/client/Client.class
/client/target/classes/controllers/ClientController.class
/client/target/classes/guiWindows/ClientGui.class
/network/target/classes/common/ClientProfile.class
/.idea/compiler.xml
/network/target/classes/common/Constants.class
/server/target/classes/dataBase/DataBase.class
/server/target/classes/dataBase/DataBaseImpl.class
/.idea/dataSources.xml
/.idea/git_toolbox_prj.xml
/client/target/classes/guiElements/HBoxChat.class
/client/target/classes/guiElements/HBoxUsers.class
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/client/target/classes/client/LaunchClient.class
/server/target/classes/server/LaunchServer.class
/network/target/classes/messageDTO/Message.class
/.idea/misc.xml
/server/target/classes/server/MyServer$1.class
/server/target/classes/server/MyServer$2.class
/server/target/classes/server/MyServer.class
/network/target/classes/common/Operations.class
/client/target/classes/controllers/RegController.class
/client/target/classes/guiWindows/RegGui.class
/client/target/classes/fxml/registration.fxml
/.idea/sqldialects.xml
/client/target/classes/values/style.css
/network/target/classes/network/TCPConnection.class
/network/target/classes/network/TCPConnectionListener.class
/network/target/classes/messageDTO/TypeMessage.class
/.idea/uiDesigner.xml
/.idea/vcs.xml
